.content {
	min-height: 100vh;
	margin-left: 240px;
	padding: 5px;
	background: #EFEFEF;
}

.title {
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	/*background-color: #c2c2c2;*/
}

.heading { 
	text-align: center;
	color: #707070;
	width: 300px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 1.5em;
	/*background-color: transparent;*/
	padding: 10px;
	border-radius: 10px;
	border: solid #707070;
	border-width: 2px;
}

.graphs {
	width: 90%;
	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}