.info-tile {
	height: 200px;
	width: 500px;
	background: white;
	margin: 5px;
	border-radius: 5px;
}

.title {
	text-align: center;
	margin: 10px 0px;
}

.total {
	font-size: 5em;
	text-align: center;
	margin-top: 20px;
	color: green;
}