.sidebar {
	height: 100vh;
	/*make sure margin-left in .content in dashboard.css has the same value*/
	width: 240px;
	/*background-color: #252525;*/
	/*background-color: #f1f1f1;*/
	background-color: #455a64;
	position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
}

ul {
	padding: 0px;
	margin: 10px;
	list-style-type: none;
}

li button {
	background: transparent; 
	border: none;
	display: block;
	width: 100%;
	padding: 8px 16px;

	text-align: left;
	text-align: left;
	color: #90a4ae;
	font-size: 1em;
}

button:hover, button:visited, button:link, button:active {
  background-color: #718792;
  color: white;
  border-radius: 5px;
}

button:focus {
	outline:0;
}

/*space between icon and text*/
.mr {
	margin-right: 1em;
}